* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
textarea {
    line-height: 25px;
}
.header {
    display: block;
    height: 100px;
}
.nav {
    padding-top: 30px;
    padding-right: 5%;
    float: right;
}
.hometext {
    font-size: larger;
    text-decoration: none;
    color: black;
    float: right;
    padding-right: 8%;
}
.hometext:hover {
    color: rgb(142, 142, 142);
}
.homelogo:hover {
    border-bottom: 1px solid black;
}
.profile {
    margin:auto;
    width: 50%;
    border: 1px solid rgb(142, 142, 142);
    border-radius: 4px;
    padding-left: 40px;
    padding-right: 10px;
    padding-bottom: 30px;
}
.heading {
    font-size: larger;
}
.info {
    padding-left: 20px;
}
#Tagline {
    margin-top: 10px;
    max-width: 90%;
    resize:none;
}
.Taglinelabel {
    vertical-align: top;
}
#Aboutus {
    margin-top: 10px;
    max-width: 90%;
    resize: none;
}
.Aboutuslabel {
    vertical-align: top;
}
#Date {
    margin-top: 10px;
    line-height: 25px;
}
#Address {
    margin-top: 10px;
    max-width: 90%;
    resize: none;
}
.Addresslabel {
    vertical-align: top;
}
#Location {
    margin-top: 10px;
    max-width: 90%;
    resize: none;
}
.Locationlabel {
    vertical-align: top;
}
#Citylabel, #Statelabel {
    display:inline-block;
    width: 45%;
}
#City, #State, #Contact {
    line-height: 25px;
}
#City, #State {
    margin-top: 10px;
    width: 45%;
}
#Contact {
    margin-top: 10px;
    width: 50%;
}
@media only screen and (min-width: 501px) {
    #Statelabel2 {
        display: none;
    }
}
@media only screen and (max-width: 500px) {
    #Statelabel {
        display: none;
    }
    #City, #State, #Citylabel, #Statelabel2 {
        width: 90%;
    }
    #City {
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 650px) {
    .profile {
        width: 70%;
    }
}
@media only screen and (max-width: 550px) {
    .profile {
        width: 80%;
    }
    .profile {
        padding-left: 20px;
    }
    .info {
        padding-left: 10px;
    }
}
@media only screen and (min-width: 401px) {
    .homelogo {
        display: none;
    }
}
@media only screen and (max-width: 400px) {
    .hometext {
        display: none;
    }
    #Tagline, #Aboutus, #Address, #Location, #City, #State, #Contact {
        max-width: 90%;
    }
}
@media only screen and (max-width: 290px) {
    .header {
        height: 80px;
    }
    .logo {
        max-height: 80px;
    }
}
@media only screen and (max-width: 250px) {
    .header {
        height: 70px;
    }
    .logo {
        max-height: 70px;
    }
}
#save {
    background-color: white;
    padding: 8px 10px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 5px;
}
#save:hover {
    box-shadow: 1px 1px 10px rgb(148, 148, 148);
}