* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
.header {
    display: block;
    height: 100px;
}
.nav {
    padding-right: 5%;
    padding-top: 40px;
    float: right;
}
.hometext {
    font-size: larger;
    text-decoration: none;
    color: black;
}
.hometext:hover {
    color: rgb(142, 142, 142);
}
.homelogopng {
    padding-bottom: 10px;
    height: 30px;
}
.homelogopng:hover {
    border-bottom: 1px solid black;
}

.profile {
    margin:auto;
    width: 50%;
    border: 1px solid rgb(142, 142, 142);
    border-radius: 4px;
    padding-left: 40px;
    padding-right: 10px;
    padding-bottom: 30px;
}
.info {
    padding-left: 20px;
}
#Tagline {
    resize:none;
}
.Taglinelabel {
    vertical-align: top;
}
#Aboutus {
    resize: none;
}
.Aboutuslabel {
    vertical-align: top;
}
#Address {
    resize: none;
}
.Addresslabel {
    vertical-align: top;
}
#Location {
    resize: none;
}
.Locationlabel {
    vertical-align: top;
}
@media only screen and (max-width: 650px) {
    .profile {
        width: 70%;
    }
}
@media only screen and (max-width: 500px) {
    .profile {
        padding-left: 20px;
    }
    .info {
        padding-left: 10px;
    }
}
@media only screen and (max-width: 450px) {
    .profile {
        width: 90%;
    }
}
@media only screen and (max-width: 360px) {
    .logo {
        max-height: 80px;
    }
    .hometext {
        display: none;
    }
    #Tagline, #Aboutus, #Address, #Location {
        max-width: 90%;
    }
    .header {
        height: 90px;
    }
}
@media only screen and (min-width: 361px) {
    .homelogo {
        display: none;
    }
}
@media only screen and (max-width: 260px) {
    .header {
        height: 80px;
    }
    .logo {
        max-height: 70px;
    }
    #City, #State, #Contact {
        max-width: 90%;
    }
}
#save {
    background-color: white;
    padding: 8px 10px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}
#save:hover {
    box-shadow: 1px 1px 10px rgb(148, 148, 148);
}